/*

!/.git
!/.github
!/.gitignore

!/.local
/.local/*

!/.local/bin

!/.local/config
/.local/config/*
!/.local/config/rofi
!/.local/config/hypr
!/.local/config/waybar
!/.local/config/dunst
!/.local/config/yazi
!/.local/config/zsh
!/.local/config/nvim

!/.local/share
/.local/share/*
!/.local/share/applications

