/*

!/.config
/.config/*
!/.config/rofi
!/.config/hypr
!/.config/waybar
!/.config/dunst
!/.config/yazi
!/.config/zsh

!/.local
/.local/*
!/.local/bin

!/.local/share
/.local/share/*
!/.local/share/applications

!/.github

!.gitignore
