@define-color background #222222;

@define-color workspace_selected #bb88ff;
@define-color workspace_active #bb88ff;
@define-color workspace_idle #555555;
@define-color workspace_urgent #f38ba8;

@define-color window #ffffff;

@define-color power #ff8888;
@define-color launcher #88bbff;
@define-color clock #ffff88;
@define-color screenshot #ff88cc;
@define-color cpu #88ffaa;
@define-color network #99ffff;
@define-color emojimenu #88ffaa;
@define-color linuxMarketShare #ff9966;
@define-color window #88bbff;

* 
{
    font-family: JetBrainsMono Nerd Font;
    font-weight: 900;
    font-size: 16px;
    border: none;
}

window#waybar
{
    background-color: rgba(0,0,0,0);
}

#workspaces button
{
    background: transparent;
    color: @workspace_idle;
}

#workspaces button:hover 
{
    color: @workspace_selected;
    box-shadow: 0 0 0 0 transparent;
}

#workspaces button.active {
    color: @workspace_active;
}

#workspaces button.urgent {
    color: @workspace_urgent;
}

#temperature,
#clock,
#network,
#custom-power,
#cpu,
#custom-launcher,
#custom-screenshot,
#custom-emoji,
#custom-linuxMarketShare,
#custom-emojimenu,
#window,
#workspaces
{
    padding: 2 20px;
    border-radius: 15px;
    margin: 5 0;
    background-color: @background;
}

#custom-power
{
	font-size: 24px;
	color: @power;
}

#custom-launcher
{
	font-size: 24px;
	color: @launcher;
}

#clock
{
	color: @clock;
}

#custom-screenshot
{
	font-size: 24px;
	color: @screenshot;
	padding: 0 26 0 20;
}

#cpu
{
	color: @cpu;
}

#network
{
	color: @network;
}

#custom-emojimenu
{
	color: @emojimenu;
	padding: 0 24 0 20;
}

#custom-linuxMarketShare
{
    color: @linuxMarketShare;
}

#window
{
    color: @window;
    margin-right: 200px;
}
